.main-div{
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.order-table{
	text-align: center; 
}

td{
	width: 90px;
}

.go-back{
	float: right;
	padding-right: 240px;
	padding-top: 50px;
}

.back-btn{
	border-radius: 8px;
	background-color: #5CB85C;
	color: white;
	height: 30px;
}

.back-btn:hover{
	box-shadow: 0 0 10px #5CB85C;
	background-color: white;
	color: #5CB85C;
	border-color: #5CB85C;
}

.main-div, .go-back{
	
}
